.wrapper{
    max-width: 1398px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;
}

body {
    font-family: Inter; 
}

.header{
    display: flex;
    margin-bottom: 150px;
}

.header__img{
    margin-top: 30px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 850px;
}

.img__text{
    position: absolute;
    z-index: 5;
    top: 254px;
    left: 356px;
    width: 182px;
    height: 102.96px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130.52%;
}
.img__server{
    position: absolute;
    z-index: 9;
    bottom: -204px;
}

.img-fluid{
    width: 100%;
    height: auto;
}

.header__word{
    margin:127px 30px 0 0;
}

.title{
    margin: 0 0 25px 0;
    font-weight: 500;
    font-size: 67px;
    line-height: 81px;
    text-transform: uppercase;
    width: 470px;
}

.description{
    margin: 0 0 64px 0;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    width: 684px;
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 530px;
}

.list li{
    height: 77px;
    margin-bottom: 49px;
    width: 188px;
}
.list li:nth-child(3){
    width: 261px;
}
.list li:nth-child(8){
    width: 300px;
}

.list h4{
    margin: 0;
    color: #B8B8B8;
}
.list p{
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.partners{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.partners_img{
    max-width: 281px;
    margin-right: 90px;
    padding: 10px;
}
.partners_img:nth-child(3){
    width: 249px;
}
.partners_img{
    margin: auto;
}
.img__cup{
    position: absolute;
    z-index: 4;
    width: 516px;
    left: -60px;
    top: -9px;
}

@media (max-width: 1398px) {
    .wrapper{
        max-width: 1024;
    }
    
    .partners_img{
        max-width: 170px;
        margin: auto;
    }
    
    .header{
        flex-direction: column;
    }

    .title{
        margin: 0 auto 25px;
    }
    .description{
        margin: 0 auto 64px;
    }
    .list{
        align-items: center;
    }
    .img__cup{
        left: 15%;
        top: -50px;
    }
    .img__server{
        max-width: 50%;
        left: 25%;
        bottom: -60px
    }
    .img__text{
        top: 17%;
        left: 52%;
    }
    .list li:nth-child(3){
        width: 188px;
    }
    .list li:nth-child(8){
        width: 188px;
    }
}

@media (max-width: 768px) {
    .header__word{
        margin: 40px 0 0 0;
    }
    .title{
        font-size: 34px;
        width: auto;
        text-align: center;
    }
    .description{
        font-size: 14px;
        line-height: 27px;
        text-align: center;
        width: auto;
    }
    .list{
        height: auto;
    }
    .img__server{
        max-width: 100%;
        left: auto;
    }
    .img__cup{
        max-width: 100%;
        left: -10%;
        top: -50px;
    }
}

@media (max-width: 426px) {
    .img__text {
        top: 45%;
        left: 22%;
    }
    .img__cup {
        max-width: 300px;
        left: -10%;
        top: -50px;
    }
    .img__server{
        width: 100%;
        height: 270px;
    }
    .header__img {
        margin-top: 30px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 622px;
    }
}
